body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,header,section,footer,table,form{
	padding: 0;
	margin: 0;
}
image,input{
	border: 0;
}
html,body{
	height: auto;
	font-size: 14px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #222;
}